@import '../variables.scss';

header, footer {
    background-color: $main-color-dark;
}

main {
    width: 1024px;
    margin: 0 auto;
    padding: 30px 15px 40px;
    background-color: #E8EAF6;
}

.headerContent, .footerContent {
    width: 1024px;
    margin: 0 auto;
    color: #fff;
    padding: 25px 0;
}