<button [routerLink]="['/dashboard']" mat-icon-button aria-label="Example icon-button with a heart icon" color="primary">
  <mat-icon>keyboard_backspace</mat-icon> Back
</button>
  
<div class="viewer-content" *ngIf="data">
  <div class="viewer-content-image">
    <img [src]="data.user.avatar_url"/>
  </div>
  <div class="viewer-content-info">
    <h3>Username</h3>
    <p>{{ data.user.login }}</p>
    <h3>Followers</h3>
      <ul>
        <li *ngFor="let follower of data.followers">
          {{ follower.name}}
        </li>
      </ul>
      <p *ngIf="data.followers.length === 0">no followers</p>
    <h3>Repositories</h3>
    <ul>
      <li *ngFor="let repo of data.repos">
        {{ repo.name}}
      </li>
    </ul>
    <p *ngIf="data.repos.length === 0">no repos</p>
  </div>
</div>

